
/* font-family: 'Playfair Display', serif;
   font-family: 'Rajdhani', sans-serif; */

/* Global Style */

body {
    background-color: white;
    font-family: 'Rajdhani', sans-serif;
    text-align: center;
}

/* Home Page Style */

