
/* all images taken from  www.pixabay.com */

/* Global Style */

body {
    background-color: #039;
    font-family: 'Rajdhani', sans-serif;
    text-align: center;
}

/* Index - Username Page Style */

/* Header */
header {
    margin: 10% auto 5%;
    font-family: 'Playfair Display', serif;
    font-size: 150%;
    background-color: #039;
    color: #fc0;
}

/* Username Creation Section */
.user-sign-up {
    display: inline-block;
    background-color: #f2f6e1;
    width: 50%;
}

.user-form {
    margin: 0 auto;
}

#username_label {
    display: block;
    margin: 15% auto 3%;
    font-size: 230%;
    color: #2f587b;
}

#username {
    line-height: 2;
    width: 45%;
    text-align: center;
    display: block;
    margin: 5% auto;
}

.game_button {
  background-image: linear-gradient(to right, #2f587b, #039);
  padding: 2% 5%;
  border-radius: 5%;
  border: 5px solid #2597a5;
  color: white;
  font-size: 130%;
  font-weight: bold;
}


.game_button:hover {
  background-image: linear-gradient(to right, #f3a85c 0, #eb821e 100%);
  transform: scale(1.1);
}

.euro-pic {
    height: 450px;
    width: 450px;
    margin: 10% auto 0;
}

#euro-pic-img {
    height: 400px;
    width: auto;
}

/* Index - Game Page Style */
#game_section {
    background-color: #f2f6e1;
    margin: 0 auto;
    width: 60%;
}

/* the scoreboard */
#scoreboard {
    background-color: black;
}

.scoreboard_item {
    font-size: 200%;
    margin: 5% auto;
    display: inline-block;
    color: #fc0;
    padding: 2%;
}

#correct_score {
    float: left;
    margin-left: 5%;
}

#questions_remaining {
    float: right;
    margin-right: 5%;
}

/* country and capital */

.question_area {
    width: 40%;
    display: inline-block;
    position: relative;
    margin: 5% 0 10%;
    font-size: 180%;
}

#country {
    right: 5%;
    height: 400px;
}

#country_flag {
    height: 250px;
    width: auto;
}

#capital {
    left: 5%;
    height: 400px;
}

#capital h2 {
    margin: 1%;
}

.city_display {
    text-align: center;
    margin: 5%;
}

#city_input {
    margin: 7.5% auto;
    position: relative;
    top: 7%;
}

#city_label {
    font-size: 120%;
    display: block;
    margin: 0 auto;
}

#capital_city {
    width: 60%;
    line-height: 2;
    position: relative;
    bottom: 5px;
}

#answer_button {
    font-size: 80%;
    margin: 18%;
    position: relative;
    bottom: 4.5%;
}

.finish_button {
    margin: 2% 10%;
}

/* Media Queries */

/* For screen sizes from 1550px wide and down */
@media screen and (max-width: 1550px) {
    #game_section {
        width: 70%;
    }
}

/* For screen sizes from 1200px wide and down */
@media screen and (max-width: 1200px) {
    #game_section {
        width: 80%;
    }
}

/* For screen sizes from 900px wide and down */
@media screen and (max-width: 900px) {
    .euro-pic {
        width: 100%;
    }

    #euro-pic-img {
        width: 100%;
    }

    #game_section {
        width: 100%;
    }

    #country_flag {
        height: 200px;
        width: 300px;
    }

    #capital {
        height: 300px;
    }

    #city_input {
        margin: 5% auto;
        top: 7%
    }

    #answer_button {
        margin: 15%;
        bottom: 4.5%;
    }
}

/* For screen sizes from 600px wide and down */
@media screen and (max-width: 600px) {
    .user-sign-up {
        width: 80%;
    }

    .scoreboard_item {
        font-size: 140%;
        font-weight: bold;
    }

    #correct_score {
        margin-left: 0;
    }

    #questions_remaining {
        margin-right: 0;
    }

    .question_area {
        width: 100%;
    }

    #country {
        right: 0;
        height: 350px;
    }

    #capital {
        left: 0;
        height: 350px;
    }

    #answer_button {
        margin: 7%;
    }

    .finish_button {
        margin: 5% 10%;
    }
}

/* For screen sizes from 400px wide and down */
@media screen and (max-width: 400px) {
    .user-sign-up {
        width: 100%;
    }

    .scoreboard_item {
        font-size: 160%;
        font-weight: bold;
        display: block;
    }

    #correct_score {
        float: none;
    }

    #questions_remaining {
        float: none;
    }

    #country_flag {
        height: 150px;
        width: 250px;
    }
}